h6 {
  color: black;
}

.small {
  color: black;
}

h3 {
  color: #64DFDF;
}

h3 {
  color: #80FFDB;
}

.text {
  color: white;
}

td {
}

th {
  color: #252525;
}

td {
  color: #252525;
}

p {
  color: #252525;
}

